<html>
    <body>
    <p>
        This is the index page for the blog. Imagine a list of blog posts.<br/>The page is {{ page }}
    </p>
    <p><a href="{{ url('blog_show', {'slug': 'my-blog-post'}) }}">This is a link to a specific blog post generated in the template</a></p>
    </body>
</html>