{% extends 'base.html.twig' %}

{% block title %}Lucky Number Generator{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Lucky Numbers</h1>
    {{ include('AppBundle:Lucky/numbers:numbers_details.html.twig', {'luckyNumberList': luckyNumberList}) }}
{% endblock %}